<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <!--Añadimos icon-->
    <link rel="shortcut icon" href="../static/img/yotube.png" />
  </head>
  <body>
    {% include "cabecera.html" %}

    <section>
      <h2>Videos Variados</h2>
      <p>Hora Actual {{fecha}}</p>

      {% block contenido %} {% endblock %}
    </section>

    {% include "footer.html" %}
  </body>
</html>
