{% extends "base.html" %}
<!--Heredamos la plantilla Base-->

{% block title %} YoTube - Games {% endblock %} {% block contenido %}
<h1>¿QUE PASARIA SI MONTARAMOS UNA 3080 EN UNA XBOX ONE? ¿IMPOSIBLE?</h1>
<div class="iframe">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/ts8nOCgDJUs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
{% endblock %}
